[submodule "packages/design-sdk"]
	path = packages/design-sdk
	url = https://github.com/bridgedxyz/design-sdk
[submodule "packages/design-lint"]
	path = packages/design-lint
	url = https://github.com/bridgedxyz/lint
[submodule "packages/reflect-core"]
	path = packages/reflect-core
	url = https://github.com/bridgedxyz/reflect-core-ts
